
{% extends 'base_withot_footer.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<script> 
    $(document).ready(function(){
        $("#prof22ilee").show();
            $("#edi22t").hide();
    });

    $(document).ready(function(){
        $("#viraye22sh12").click(function(){
            $("#ed22it").show();
            $("#pro22filee").hide();
        });
        $("#sabtnam").click(function(){
            $(".form_div_login").hide();
            $(".form_div_loginsiup").show();
        });
    });


</script>





<div class="right_profile_modirina">
        <div class="profile_pic_user">
        </div>
      
        {% for post in query %}
        <div class="object_profile">
            <div class="object_profile_item_name"> 
                <p class="p_eleman_title_name">f{{ post.first_name }} </p>
                {% if not charitymodir %}<p class="p_eleman_title_name"> <i class='fas fa-leaf' style="color:rgb(57, 184, 223)"></i> خیر عادی</p> {% endif %}
                
                {% if charitymodir %}
                    {% for k in charitymodir %}
                        {% if  k.accept  %} <p class="p_eleman_title_name"><i class="fas fa-star" style="color:rgb(255, 200, 20)"></i> مدیر </p>{% endif %}
                        {% if not k.accept  %} <p class="p_eleman_title_name"> <i class='fas fa-leaf' style="color:rgb(57, 184, 223)"></i> خیر عادی</p> {% endif %}
                    {% endfor %}
                {% endif %}
                <hr>
            </div>
        {% endfor %}
            <div class="object_profile_item">
                <a class="virayesh0" id = "GFG" href = "#" style=" color: rgb(238, 238, 238);"><p class="p_eleman_title"> پروفایل   <i class="fas fa-user" style="color:rgb(179, 179, 179); font-size: 12px;"></i> </p></a>
            </div>
            <div class="object_profile_item">
                <a class="virayesh1" id = "GFG" href = "{% url 'accounts:editprofile' %}" style=" color: rgb(238, 238, 238);"><p class="p_eleman_title">ویرایش پروفایل  <i class="fas fa-edit" style="color:rgb(179, 179, 179); font-size: 12px;"></i></p></a>
            </div>
            <div class="object_profile_item">
                <a id = "GFG" href = "#" style=" color: rgb(238, 238, 238);"><p class="p_eleman_title">کمک‌های من  <i class='fas fa-hand-holding-heart' style="color:rgb(179, 179, 179); font-size: 12px;"></i></p></a>
            </div>

            <div class="object_profile_item">
        {% for k in charitymodir %}
             {% if k.accept  %} {% if charitymodir %} <a id = "GFG" href = "{% url 'accounts:profile_charity' %}" style=" color: rgb(238, 238, 238);"><p class="p_eleman_title"> ( {{ k.name }} ) خیریه من  <i class='fas fa-heart' style="color:rgb(240, 116, 116); font-size: 12px;"></i></p></a> {% endif %}{% endif %}
             {% if not k.accept  %} {% if charitymodir %} <a id = "GFG" href = "#" style=" color: rgb(156, 5, 111);"><p class="p_eleman_title">حذف اکانت  <i class="fa fa-times" aria-hidden="true" style="color:rgb(179, 179, 179); font-size: 12px;"></i></p></a>     {% endif %}{% endif %}
             {% if not charitymodir %} <a id = "GFG" href = "{% url 'accounts:profile_charity' %}" style=" color: rgb(238, 238, 238);"><p class="p_eleman_title"> اضافه کردن خیریه <i class='fas fa-heart' style="color:rgb(240, 116, 116); font-size: 12px;"></i></p></a> {% endif %}
          {% endfor %}
            </div>
            {% for k in charitymodir %}
            <div class="object_profile_item">
                {% if k.accept  %} {% if charitymodir %} <a id = "GFG" href = "#" style=" color: rgb(156, 5, 111);"><p class="p_eleman_title">حذف اکانت  <i class="fa fa-times" aria-hidden="true" style="color:rgb(179, 179, 179); font-size: 12px;"></i></p></a>   {% endif %}{% endif %}  
            </div>
            {% endfor %}
        </div>
</div>

<div class="background_profile">  
    <div class="lefteleman">
        <div class="profile_divv" id="profilee"> 
            <div class="form_div_profilee">
                <div class="titr_login_signup">
                        <p>پروفایل</p>
                </div>
                {% for post in query %}
                <div class="form_in_profile">
                <form class="site-form" action="{% url 'accounts:editprofile' %}" method="POST">
                    {% csrf_token %}
                        <label class="laballoginsignup" for="id_username">کدملی</label><input  disabled type="text" class="form-control" id="usr"  name="username" maxlength="10" autofocus="" required="" id="id_username" value="{{ post.username }}">
                        <label class="laballoginsignup" for="id_first_name">نام</label><input disabled class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name" value="{{ post.first_name }}">                    
                        <label for="id_last_name">نام خانوادگی</label><input class="form-control" disabled  type="text" name="last_name" maxlength="150" id="id_last_name" value="{{ post.last_name }}">
                        <label class="laballoginsignup" for="id_email">ایمیل</label><input  disabled type="email" class="form-control" name="email" required="" id="id_email" value="{{ post.email }}">
                      
                        <br><br><input id="virayesh12" style="float: right ;" class="btn22 success33" type="submit" ,="" value="ویرایش">
                    </form>

                    
                    {% endfor %}
                </div>
                

            </div>
        </div>
        
    </div>
</div>
{% endblock %}
