
{% extends 'base_withot_footer.html' %}


{% block content %}
<div class="right_profile_modirina">
  <div class="profile_pic_user">
  </div>
  {% for post in query %}
  <div class="object_profile">
      <div class="object_profile_item_name">
        <p class="p_eleman_title_name">f{{ post.first_name }} </p>
        {% if not charitymodir %}<p class="p_eleman_title_name"> <i class='fas fa-leaf' style="color:rgb(57, 184, 223)"></i> خیر عادی</p> {% endif %}
                
        {% if charitymodir %}
            {% for k in charitymodir %}
                {% if  k.accept  %} <p class="p_eleman_title_name"><i class="fas fa-star" style="color:rgb(255, 200, 20)"></i> مدیر </p>{% endif %}
                {% if not k.accept  %} <p class="p_eleman_title_name"> <i class='fas fa-leaf' style="color:rgb(57, 184, 223)"></i> خیر عادی</p> {% endif %}
            {% endfor %}
        {% endif %}
          <hr>
      </div>
  {% endfor %}
      <div class="object_profile_item">
          <a class="virayesh0" id = "GFG" href = "#" style=" color: rgb(238, 238, 238);"><p class="p_eleman_title"> پروفایل   <i class="fas fa-user" style="color:rgb(179, 179, 179); font-size: 12px;"></i> </p></a>
      </div>
      <div class="object_profile_item">
          <a class="virayesh1" id = "GFG" href = "{% url 'accounts:editprofile' %}" style=" color: rgb(238, 238, 238);"><p class="p_eleman_title">ویرایش پروفایل  <i class="fas fa-edit" style="color:rgb(179, 179, 179); font-size: 12px;"></i></p></a>
      </div>
      <div class="object_profile_item">
          <a id = "GFG" href = "#" style=" color: rgb(238, 238, 238);"><p class="p_eleman_title">کمک‌های من  <i class='fas fa-hand-holding-heart' style="color:rgb(179, 179, 179); font-size: 12px;"></i></p></a>
      </div>

      <div class="object_profile_item">

        {% for k in charitymodir %}
        {% if k.accept  %} {% if charitymodir %} <a id = "GFG" href = "{% url 'accounts:profile_charity' %}" style=" color: rgb(238, 238, 238);"><p class="p_eleman_title"> ( {{ k.name }} ) خیریه من  <i class='fas fa-heart' style="color:rgb(240, 116, 116); font-size: 12px;"></i></p></a> {% endif %}{% endif %}
        {% if not k.accept  %} {% if charitymodir %} <a id = "GFG" href = "#" style=" color: rgb(156, 5, 111);"><p class="p_eleman_title">حذف اکانت  <i class="fa fa-times" aria-hidden="true" style="color:rgb(179, 179, 179); font-size: 12px;"></i></p></a>     {% endif %}{% endif %}
        {% if not charitymodir %} <a id = "GFG" href = "{% url 'accounts:profile_charity' %}" style=" color: rgb(238, 238, 238);"><p class="p_eleman_title"> اضافه کردن خیریه <i class='fas fa-heart' style="color:rgb(240, 116, 116); font-size: 12px;"></i></p></a> {% endif %}
     {% endfor %}
       </div>
       {% for k in charitymodir %}
       <div class="object_profile_item">
           {% if k.accept  %} {% if charitymodir %} <a id = "GFG" href = "#" style=" color: rgb(156, 5, 111);"><p class="p_eleman_title">حذف اکانت  <i class="fa fa-times" aria-hidden="true" style="color:rgb(179, 179, 179); font-size: 12px;"></i></p></a>   {% endif %}{% endif %}  
       </div>
       {% endfor %}
  </div>
</div>


<div class="background_add_p">      

<div class="add_project"> 
 {% if not charitymodir %}
  <div class="form_div_addproject">
    <div class="titr_login_signup">
      <p>اضافه کردن خیریه</p>
    </div>
        <form name="addform" class="site-form"  style="height:580px; " action="{% url 'charity:addCharity' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              <form name="addform" class="site-form" style="height: 500px; background-color: rgb(253, 238, 227);" action="http://127.0.0.1:8000/charity/add_charity/" method="POST" enctype="multipart/form-data">
  
                <label for="id_name">نام</label><input class="form-control" type="text" name="name" maxlength="20" required="" id="id_name">
                <label for="id_address">آدرس</label><input class="form-control" type="text" name="address" maxlength="60" required="" id="id_address">
                <label for="id_sabt_number">شماره ثبت</label><input class="form-control" type="text" name="sabt_number" maxlength="30" required="" id="id_sabt_number">
                <label for="id_description">توضیحات</label><textarea class="form-control" name="description" cols="40" rows="6" required="" id="id_description"></textarea>
                <label for="id_web">وبسایت</label><input class="form-control" type="text" name="web" maxlength="200" required="" id="id_web">
                <label for="id_photo_sanad">تصویر سند</label><input class="form-control" type="file" name="photo_sanad" accept="image/*" id="id_photo_sanad">
                <br><br>         
          <input  style="float: right ;" class="btn22 success33" type="submit" ,="" value="ثبت خیریه">
              </form>
              <input style="float: left ;" id="sabtnam" class="btn22 success22" type="input" ,="" value="انصراف">
                  <br><br><br><br><br>
            </div>
            
          </div>
{% endif %}     



{% if charitymodir %}
    {% for k in charitymodir %}
        {% if k.accept  %}
    <div class="warning_you_have_charity">
        <p><strong>!اخطار</strong></p>
        <p>!مدیر عزیز شما در حال حاضر یک خیریه دارید</p>
        <p> :) بهتر است با نام کاربری کارشناس خود خیریه را ثبت کنید </p>
        <br><a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" style="font-size: 12px; float: left;margin-left: 0%; border-radius: 5px;">برگشت</a>

    </div>

        {% endif %}

        {% if not k.accept  %}
    <div class="warning_you_have_charity">
        <p><strong>!در حال بررسی</strong></p>
        <p>.خیریه شما ثبت شده و در حال بررسی می‌باشد</p>
        <p> پس از ثبت خیریه به شما ایمیل فرستاده می‌شود </p>
        <br><a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" style="font-size: 12px; float: left;margin-left: 0%; border-radius: 5px;">برگشت</a>

    </div>

        {% endif %}
    {% endfor %}
{% endif %}

  </div> 
{% endblock %}
