{% extends 'base.html' %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="background_charitypic">
<div class="div_detail_charitys">

    <div class="div_title_detail_charity">
        <p>خیریه {{ posts.name }}</p>
    </div>

    <div class="profil_pic_detail_charity">
        {% if posts.photo %}
        <img src="{{ posts.photo.url }}" width="100px" height="100px" style="border-radius: 100%;">
        {% endif %}
    </div>
</div>

<div class="div_description_charity">
    <div class="left_div_description_charity">

    </div>
    <div class="right_div_description_charity">
        <div class="titre_detail_charity_description">
            <p>درباره {{ posts.name }}</p>
        </div>
        <div class="description_description">
            <p>{{ posts.description }}</p>
        </div>
    </div>
</div>
<br><br>
<div class="information_charity_detail">
  <div class="right_infprmation">
    <div class="titr_information_charity">
        <p>اطلاعات خیریه</p>
    </div>
    <p class="right_information">  آدرس : {{ posts.address }}  <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 22px;"></i> </p>
    <p class="right_information">  شماره ثبت : {{ posts.sabt_number }}  <i class="fa fa-check" style="font-size:22px;"></i> </p>
    <a href=""><p class="right_information">   {{ posts.web }} : وبسایت <i class="fa fa-globe" aria-hidden="true" style="font-size:22px;"></i> </p></a>
</div>

    
</div>

<br>
<br><div class="information_charity_detail_modir">

    <div class="left_infprmation">
        <div class="titr_information_charity">
            <p>اطلاعات مدیر خیریه</p>
        </div><br>
        <p class="right_information">   نام و نام خانوادگی : {{ posts.modir.first_name }}  {{ posts.modir.last_name }} <i class="fa fa-user" aria-hidden="true" style="font-size:20px;"></i> </p>
        <p class="right_information">   {{ posts.modir.email }} :  ایمیل <i class="fa fa-envelope" aria-hidden="true" style="font-size:20px;"></i> </p>
    </div>

</div><br><br>
<br><a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" style="font-size: 12px; float: left;margin-left: 5%; border-radius: 5px;">برگشت</a>

<br><br><br><br><br><br><br></div>
{% endblock %}