
{% extends 'base.html' %}

{% block content%}

<div class="container-fluid">
    <div class="signup_full">

        <div class="signup_full_left">
        </div>
    <form  name="myForm" action="{% url 'signeup:signeupuser' %}" method="POST" id="add_form" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="signup_full_right">
            <div class="signup_full_right_titre">
                <p>ثبت نام</p>
            </div>
            <div class="signup_full_right_op">
                <input type="text" id="username" name="firstname" placeholder="نام">
            </div>

             <div class="signup_full_right_op">
                <input type="text" id="username" name="lastname" placeholder="نام خانوادگی">
            </div>

            <div class="signup_full_right_op">
                <input type="text" id="username" name="codemeli" placeholder="کدملی">
            </div>

            <div class="signup_full_right_op">
                <input type="text" id="username" name="username" placeholder="نام کاربری">
            </div>

            <div class="signup_full_right_op">
                <input type="text" id="username" name="phone" placeholder="شماره تلفن">
            </div>

            <div class="signup_full_right_op">
                <input type="text" id="email" name="email" placeholder="ایمیل">
            </div>

            <div class="signup_full_right_op">
                <input type="password" id="username" name="password" placeholder="رمز عبور">
            </div>

             <div class="signup_full_right_op">
                <input type="password" id="username" name="password" placeholder="تکرار رمز عبور">
            </div>

            <button type="submit" class="btn btn-pardakht" style="margin: 10px 38px; text-align:center">ثبت نام</button>

            <div class="signup_full_ozv">
            <a href=""><p>عضو بودی؟</p></a>
            </div>


        </div>

    </div>

</div>
{% endblock %}